﻿<!DOCTYPE html>

<html class="no-js css-menubar" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>layout</title>


    <link rel="apple-touch-icon" href="~/PanelContent/assets/images/apple-touch-icon.png">
    <link rel="shortcut icon" href="~/PanelContent/assets/images/favicon.ico">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/PanelContent/global/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/PanelContent/global/css/bootstrap-extend.min.css">
    <link rel="stylesheet" href="~/PanelContent/assets/css/site.min.css">

    <!-- Plugins -->
    <link rel="stylesheet" href="~/PanelContent/global/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="~/PanelContent/global/vendor/asscrollable/asScrollable.css">
    <link rel="stylesheet" href="~/PanelContent/global/vendor/switchery/switchery.css">
    <link rel="stylesheet" href="~/PanelContent/global/vendor/intro-js/introjs.css">
    <link rel="stylesheet" href="~/PanelContent/global/vendor/slidepanel/slidePanel.css">
    <link rel="stylesheet" href="~/PanelContent/global/vendor/flag-icon-css/flag-icon.css">

    <!-- Alertify -->

    <link href="~/PanelContent/global/vendor/alertify/alertify.css" rel="stylesheet" />
    <link href="~/PanelContent/assets/examples/css/advanced/alertify.css" rel="stylesheet" />

    <!-- Fonts -->
    <link rel="stylesheet" href="~/PanelContent/global/fonts/web-icons/web-icons.min.css">
    <link rel="stylesheet" href="~/PanelContent/global/fonts/brand-icons/brand-icons.min.css">
    <link href="~/PanelContent/global/fonts/font-awesome/font-awesome.min.css" rel="stylesheet" />
    @*<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>*@
    <script src="~/js/angular.min.js"></script>
    <!--[if lt IE 9]>
    <script src="~/PanelContent/global/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="~/PanelContent/global/vendor/media-match/media.match.min.js"></script>
    <script src="~/PanelContent/global/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- Scripts -->
    <script src="~/PanelContent/global/vendor/breakpoints/breakpoints.js"></script>
    <script>Breakpoints();</script>
</head>
<body class="animsition">
    <script src="~/PanelContent/global/vendor/jquery/jquery.js"></script>
    <script src="~/PanelContent/global/vendor/jquery/jquery-ui.js"></script>
  
    @await Component.InvokeAsync("Menu")
    @RenderBody()
  
    <footer class="site-footer">
        <div class="site-footer-legal">© 2018 <a href="#">Panel V 5.2</a></div>
        <div class="site-footer-right">
            Crafted with <i class="red-600 wb wb-heart"></i> by <a href="http://codebefore.com" target="_blank">codebefore</a>
        </div>
    </footer>
    <!-- Core  -->
    <script src="~/PanelContent/global/vendor/babel-external-helpers/babel-external-helpers.js"></script>
    <script src="~/PanelContent/global/vendor/popper-js/umd/popper.min.js"></script>
    <script src="~/PanelContent/global/vendor/bootstrap/bootstrap.js"></script>
    <script src="~/PanelContent/global/vendor/animsition/animsition.js"></script>
    <script src="~/PanelContent/global/vendor/mousewheel/jquery.mousewheel.js"></script>
    <script src="~/PanelContent/global/vendor/asscrollbar/jquery-asScrollbar.js"></script>
    <script src="~/PanelContent/global/vendor/asscrollable/jquery-asScrollable.js"></script>
    <script src="~/PanelContent/global/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

    <!-- Plugins -->
    <script src="~/PanelContent/global/vendor/switchery/switchery.js"></script>
    <script src="~/PanelContent/global/vendor/intro-js/intro.js"></script>
    <script src="~/PanelContent/global/vendor/screenfull/screenfull.js"></script>
    <script src="~/PanelContent/global/vendor/slidepanel/jquery-slidePanel.js"></script>

    <!-- Scripts -->
    <script src="~/PanelContent/global/js/Component.js"></script>
    <script src="~/PanelContent/global/js/Plugin.js"></script>
    <script src="~/PanelContent/global/js/Base.js"></script>
    <script src="~/PanelContent/global/js/Config.js"></script>


    <script src="~/PanelContent/assets/js/Section/Menubar.js"></script>
    <script src="~/PanelContent/assets/js/Section/GridMenu.js"></script>
    <script src="~/PanelContent/assets/js/Section/Sidebar.js"></script>
    <script src="~/PanelContent/assets/js/Section/PageAside.js"></script>
    <script src="~/PanelContent/assets/js/Plugin/menu.js"></script>

    <script src="~/PanelContent/global/js/config/colors.js"></script>
    <script src="~/PanelContent/assets/js/config/tour.js"></script>
    <script>Config.set('assets', '~/PanelContent/assets');</script>

    <!-- Page -->
    <script src="~/PanelContent/assets/js/Site.js"></script>
    <script src="~/PanelContent/global/js/Plugin/asscrollable.js"></script>
    <script src="~/PanelContent/global/js/Plugin/slidepanel.js"></script>
    <script src="~/PanelContent/global/js/Plugin/switchery.js"></script>
    @*<script src="~/PanelContent/assets/js/alertify-js.js"></script>*@
    <script src="~/PanelContent/global/vendor/alertify/alertify.js"></script>
    <script>
        (function (document, window, $) {
            'use strict';

            var Site = window.Site;
            $(document).ready(function () {
                Site.run();
            });
        })(document, window, jQuery);
    </script>
</body>
</html>
