﻿
@{
    ViewData["Title"] = "Contents";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/lib/summernote/dist/summernote-bs4.css" rel="stylesheet" />
<script src="~/lib/summernote/dist/summernote-bs4.js"></script>
<script src="~/lib/angular-summernote/src/angular-summernote.js"></script>

<style>
    iframe {
        width: 100%;
        height: 400px;
    }

    /* Important part */
    .modaldialog {
        overflow-y: initial !important;
    }

    .modalbody {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>
@*<link href="~/ckeditor/sample/css/sample.css" rel="stylesheet" />*@
<div class="page" ng-app="ContentApp" ng-controller="ContentCtrl">
    <div class="page-header">
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ayarlar</a></li>
                <li class="breadcrumb-item active">Menü</li>
            </ol>*@
        <h1 class="page-title">Kurumsal</h1>
    </div>
    <div class="page-content">
        <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" ng-model="filterByName" name="search" placeholder="Ara">
        </div>
        <hr />
        <div class="col-lg-12 col-md-12 text-center" ng-show="looder">
            <div class="loader vertical-align-middle loader-default"></div>
        </div>
        <list ng-hide="looder">
            <ul class="list-group list-group-bordered list-group-gap" id="sortable">
                <li class="list-group-item" draggable="true" ng-repeat="x in model |filter:{'name':filterByName}">
                    <div class="float-right">
                        <button type="button"
                                class="btn btn-primary btn-outline btn-xs"
                                ng-click="edit(x.id)">
                            <i class="wb wb-pencil"></i> Düzenle
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-outline btn-xs"
                                ng-click="isDelete(x.id)">
                            <i class="wb wb-trash"></i> Sil
                        </button>
                    </div>
                    {{x.name}}
                    <span style="display:none" class="spanId">{{x.id}}</span>
                    <span style="display:none" class="spanOrderNo">{{x.orderNo}}</span>
                </li>
            </ul>
        </list>
        <div class="badge badge-danger" ng-show="error!=undefined">
            {{error}}
        </div>
        <div class="modal fade modal-slide-in-right" id="ModalDelete" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <strong>({{name}})</strong>  silmek istediğine emin misin ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right modal1" id="addModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modaldialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Yeni</h4>
                    </div>
                    <div class="modal-body modalbody">
                        <table class="table">
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Özet</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescription" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik
                                    <summernote ng-model="description"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Özet (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionEn" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (En)
                                    <summernote ng-model="descriptionEn"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Özet (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionGe" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (De)
                                    <summernote ng-model="descriptionGe"></summernote>

                                </td>

                            </tr>

                            @*<tr>
            <td>İçerik</td>
            <td>:</td>
            <td><textarea ng-model="description" data-ck-editor="description" class="form-control"></textarea></td>

        </tr>*@
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" ng-click="add()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right modal1" id="editModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modaldialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Düzenle</h4>
                    </div>
                    <div class="modal-body modalbody">
                        <table class="table">
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Özet</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescription" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik
                                    <summernote ng-model="description"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Özet (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionEn" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (En)
                                    <summernote ng-model="descriptionEn"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Özet (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionGe" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (De)
                                    <summernote ng-model="descriptionGe"></summernote>

                                </td>

                            </tr>

                            @*<tr>
            <td>İçerik</td>
            <td>:</td>
            <td><textarea ng-model="description" data-ck-editor="description" class="form-control"></textarea></td>

        </tr>*@
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-success" ng-click="update()">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-action">
            <button type="button" class="btn-raised btn btn-success btn-floating" ng-click="openAdd()">
                <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</div>

@*<script src="~/ckeditor/ckeditor.js"></script>*@
@*<script src="~/ckfinder/ckfinder.js"></script>*@
<script src="~/js/model/Content.js"></script>

