﻿
@{
    ViewData["Title"] = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="~/css/custom-style.css" rel="stylesheet" />
<link href="~/css/ui-cropper.css" rel="stylesheet" />

<link href="~/lib/summernote/dist/summernote-bs4.css" rel="stylesheet" />


<style>
    #sortableImages {
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
    }

        #sortableImages li {
            display: inline;
        }

            #sortableImages li img {
                width: 150px;
                height: 100px;
                /*margin-right: 5px;
                margin-bottom: 5px;*/
            }

    .overlay {
        width: auto;
    }

    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 400px;
        height: 300px;
    }

    iframe {
        width: 100%;
        height: 400px;
    }

    /* Important part */
    .modaldialog {
        overflow-y: initial !important;
    }

    .modalbody {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
</style>

<div class="page" ng-app="ProductApp" ng-controller="ProductCtrl">
    <div class="page-header">
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ayarlar</a></li>
                <li class="breadcrumb-item active">Menü</li>
            </ol>*@
        <h1 class="page-title">Ürünler</h1>
    </div>
    <div class="page-content">

        <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" ng-model="filterByName" name="search" placeholder="Ara">
        </div>
        <hr />
        <div class="col-lg-12 col-md-12 text-center" ng-show="looder">
            <div class="loader vertical-align-middle loader-default"></div>
        </div>
        <list ng-hide="looder">
            <ul class="list-group list-group-bordered list-group-gap" id="sortable">
                <li class="list-group-item" draggable="true" ng-repeat="x in model |filter:{'name':filterByName}">
                    <div class="float-right">
                        @*<button type="button"
                                    class="btn btn-info btn-outline btn-xs"
                                    ng-click="GetPrices(x.id)">
                                <i class="wb wb-image"></i> Fiyatlar
                            </button>*@
                        <button type="button"
                                class="btn btn-success btn-outline btn-xs"
                                ng-click="GetImages(x.id)">
                            <i class="wb wb-image"></i> Resimler
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-outline btn-xs"
                                ng-click="edit(x.id)">
                            <i class="wb wb-pencil"></i> Düzenle
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-outline btn-xs"
                                ng-click="isDelete(x.id)">
                            <i class="wb wb-trash"></i> Sil
                        </button>
                    </div>
                    {{x.name}}
                    <span style="display:none" class="spanId">{{x.id}}</span>
                    <span style="display:none" class="spanOrderNo">{{x.orderNo}}</span>
                </li>
            </ul>
        </list>
        <div class="badge badge-danger" ng-show="error!=undefined">
            {{error}}
        </div>

        <div class="modal fade modal-slide-in-right" id="ModalDelete" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <strong>({{name}})</strong>  silmek istediğine emin misin ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="addModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modaldialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Yeni</h4>
                    </div>
                    <div class="modal-body modalbody">
                        <table class="table">
                            <tr>
                                <td>Kategori</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control" ng-model="productCategoryId" required>
                                        <option value="{{c.id}}" ng-repeat="c in categories | orderBy:'OrderNo'">{{c.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Özet</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescription" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik
                                    <summernote ng-model="description"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Özet (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionEn" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (En)
                                    <summernote ng-model="descriptionEn"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Özet (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionGe" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (De)
                                    <summernote ng-model="descriptionGe"></summernote>

                                </td>

                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" ng-click="add()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="editModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modaldialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Düzenle</h4>
                    </div>
                    <div class="modal-body modalbody">
                        <table class="table">
                            <tr>
                                <td>Kategori</td>
                                <td>:</td>
                                <td>
                                    <select class="form-control" ng-model="productCategoryId" required>
                                        <option value="{{c.id}}" ng-repeat="c in categories | orderBy:'OrderNo'">{{c.name}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Özet</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescription" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik
                                    <summernote ng-model="description"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Özet (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionEn" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (En)
                                    <summernote ng-model="descriptionEn"></summernote>

                                </td>

                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Özet (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="shortDescriptionGe" /></td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    İçerik (De)
                                    <summernote ng-model="descriptionGe"></summernote>

                                </td>

                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-success" ng-click="update()">Güncelle</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="addImagesModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Resimler</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12 col-md-12 text-center" ng-show="imageLooderMessage!=undefined">
                                <span class="green-600">
                                    {{imageLooderMessage}}
                                </span>
                            </div>

                            <div class="col-lg-12 col-md-12 text-center" ng-show="imageLooder">
                                <div class="loader vertical-align-middle loader-default"></div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <td colspan="2">
                                            <input type="file" id="fileInput" ng-hide="ImgLooding" />
                                            <a href="" ng-show="!ImgLooding" class="btn btn-success btn-outline" ng-click="uploadFiles()" value="Upload"><i class="fa fa-upload"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>

                                            <div class="cropArea">
                                                <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="1.5" result-image="myCroppedImage" result-image-size='{w: 600,h: 400}' init-max-area="true"></ui-cropper>
                                            </div>
                                        </td>
                                        <td>
                                            <img ng-src="{{myCroppedImage}}" style="width:100%;height:300px" />
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </div>

                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <span style="font-size:1.1em" class="blue-700">Mevcut Resimler</span>

                            </div>
                            <div class="col-md-12" ng-show="productImages.length">
                                <ul id="sortableImages">
                                    <li ng-repeat="img in productImages | orderBy:'OrderNo'">
                                        <figure class="overlay overlay-hover">
                                            <img class="overlay-figure img-bordered img-bordered-primary"
                                                 ng-src="{{img.cloudUrl}}" alt="">
                                            <figcaption class="overlay-panel overlay-background overlay-fade overlay-icon">
                                                <a class="icon fa-trash" href="" ng-click="deleteImage(img)"></a>
                                            </figcaption>
                                        </figure>

                                        @*<img ng-src="{{img.cloudUrl}}" alt="" class="img-bordered img-bordered-primary" />*@
                                        <span style="display:none" class="spanImageId">{{img.id}}</span>
                                        <span style="display:none" class="spanImageOrderNo">{{img.orderNo}}</span>
                                        <span style="display:none" class="spanProductId">{{img.productId}}</span>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer" ng-show="ImgLoaded">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" ng-click="addImages()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-action">
            <button type="button" class="btn-raised btn btn-success btn-floating" ng-click="openAdd()">
                <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</div>
<script src="~/lib/summernote/dist/summernote-bs4.js"></script>
<script src="~/lib/angular-summernote/src/angular-summernote.js"></script>
<script src="~/js/model/Product.js"></script>
<script src="~/js/ui-cropper.js"></script>
<script src="~/js/custom-javascript.js"></script>