﻿
@{
    ViewData["Title"] = "Sliders";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/css/custom-style.css" rel="stylesheet" />
<link href="~/css/ui-cropper.css" rel="stylesheet" />


<style>
    .cropArea {
        background: #E4E4E4;
        overflow: hidden;
        width: 400px;
        height: 300px;
    }
</style>
<div class="page" ng-app="SliderApp" ng-controller="SliderCtrl">
    <div class="page-header">
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Slider</a></li>
            </ol>*@
        <h1 class="page-title">Slider</h1>
    </div>
    <div class="page-content">
        <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" ng-model="filterByName" name="search" placeholder="Ara">
        </div>
        <hr />
        <div class="col-lg-12 col-md-12 text-center" ng-show="looder">
            <div class="loader vertical-align-middle loader-default"></div>
        </div>
        <list ng-hide="looder">
            <ul class="list-group list-group-bordered list-group-gap" id="sortable">
                <li class="list-group-item" draggable="true" ng-repeat="x in model |filter:{'name':filterByName}">
                    <div class="float-right">
                        <button type="button"
                                class="btn btn-primary btn-outline btn-xs"
                                ng-click="edit(x.id)">
                            <i class="wb wb-pencil"></i> Düzenle
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-outline btn-xs"
                                ng-click="isDelete(x.id)">
                            <i class="wb wb-trash"></i> Sil
                        </button>
                    </div>
                    <img ng-src="{{x.cloudUrl}}" style="float:left;margin-right:10px" alt="Alternate Text" width="100" />
                    <span style="font-size:1.3em">{{x.name}}</span> <br />
                    <p style="float:left">{{x.description}}</p>
                    <span style="display:none" class="spanId">{{x.id}}</span>
                    <span style="display:none" class="spanOrderNo">{{x.orderNo}}</span>
                </li>
            </ul>
        </list>
        <div class="badge badge-danger" ng-show="error!=undefined">
            {{error}}
        </div>
        <div class="modal fade modal-slide-in-right" id="ModalDelete" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <strong>({{name}})</strong>  silmek istediğine emin misin ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="addModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Yeni</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="description" /></td>
                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama (En)</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="descriptionEn" /></td>
                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama (De)</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="descriptionGe" /></td>
                            </tr>
                        </table>
                        <div class="col-md-12">
                            <table class="table">
                                <tr>
                                    <td colspan="2">
                                        <input type="file" id="fileInput" ng-hide="ImgLooding" />
                                        <a href="" ng-show="!ImgLooding" class="btn btn-success btn-outline" ng-click="uploadFiles()" value="Upload"><i class="fa fa-upload"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                        <div class="cropArea">
                                            <ui-cropper image="myImage" area-type="rectangle" aspect-ratio="1.5" result-image="myCroppedImage" result-image-size='{w: 600,h: 400}' init-max-area="true"></ui-cropper>
                                        </div>
                                    </td>
                                    <td>
                                        <img ng-src="{{myCroppedImage}}" style="width:100%;height:300px" />
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="col-lg-12 col-md-12 text-center" ng-show="sliderLooder">
                            <span class="green-600">
                                Lütfen Bekleyiniz...
                            </span>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center" ng-show="sliderLooder">
                            <div class="loader vertical-align-middle loader-default"></div>
                        </div>
                        <div class="col-md-12" ng-repeat="image in imagesrc track by $index">
                            <img ng-src="{{image.Src}}" alt="{{image.Title}}" style="width:100%;float:left" />
                        </div>
                    </div>
                    <div class="modal-footer" ng-show="ImgLoaded">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" ng-click="add()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="editModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Düzenle</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>Başlık</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="description" /></td>
                            </tr>
                            <tr>
                                <td>Başlık (En)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameEn" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama (En)</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="descriptionEn" /></td>
                            </tr>
                            <tr>
                                <td>Başlık (De)</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="nameGe" /></td>
                            </tr>
                            <tr>
                                <td>Açıklama (De)</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" ng-model="descriptionGe" /></td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-success" ng-click="update()">Güncelle</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="site-action">
            <button type="button" class="btn-raised btn btn-success btn-floating" ng-click="openAdd()">
                <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</div>
<script src="~/js/model/Slider.js"></script>
<script src="~/js/ui-cropper.js"></script>
<script src="~/js/custom-javascript.js"></script>
