﻿
@{
    ViewData["Title"] = "Visitors";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/js/textAngular.css" rel="stylesheet" />
<script src="~/js/textAngular-rangy.min.js"></script>
<script src="~/js/textAngular-sanitize.min.js"></script>
<script src="~/js/textAngular.min.js"></script>
<script src="~/js/model/Visitor.js"></script>
<script>
    $("#visitor").addClass("active");
</script>

<div class="page" ng-app="VisitorApp" ng-controller="VisitorCtrl">
    <div class="page-header">
        @*<ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ayarlar</a></li>
                <li class="breadcrumb-item active">Menü</li>
            </ol>*@
        <h1 class="page-title">Ziyaretçi Defteri</h1>
    </div>
    <div class="page-content">

        <div class="input-search">
            <i class="input-search-icon wb-search" aria-hidden="true"></i>
            <input type="text" class="form-control" id="inputSearch" ng-model="filterByName" name="search" placeholder="Ara">
        </div>
        <hr />
        <div class="col-lg-12 col-md-12 text-center" ng-show="looder">
            <div class="loader vertical-align-middle loader-default"></div>
        </div>
        <list ng-hide="looder">
            <ul class="list-group list-group-bordered list-group-gap" id="sortable">
                <li class="list-group-item" draggable="true" ng-repeat="x in model |filter:{'name':filterByName}">
                    <div class="float-right">
                        <button type="button" ng-hide="x.confirmation"
                                class="btn btn-success btn-outline btn-xs"
                                ng-click="isConfirm(x.id)">
                            <i class="wb wb-check"></i> Yayınla
                        </button>

                        <button type="button" ng-show="x.confirmation"
                                class="btn btn-danger btn-outline btn-xs"
                                ng-click="unConfirm(x.id)">
                            <i class="wb wb-check-mini"></i> Yayından Kaldır
                        </button>
                        <button type="button"
                                class="btn btn-primary btn-outline btn-xs"
                                ng-click="edit(x.id)">
                            <i class="wb wb-pencil"></i> Düzenle
                        </button>

                        <button type="button"
                                class="btn btn-danger btn-outline btn-xs"
                                ng-click="isDelete(x.id)">
                            <i class="wb wb-trash"></i> Sil
                        </button>
                    </div>
                    {{x.name}}
                    <span style="display:none" class="spanId">{{x.id}}</span>
                    <span style="display:none" class="spanOrderNo">{{x.orderNo}}</span>
                </li>
            </ul>
        </list>
        <div class="badge badge-danger" ng-show="error!=undefined">
            {{error}}
        </div>

        <div class="modal fade modal-slide-in-right" id="ModalDelete" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <strong>({{name}})</strong>  silmek istediğine emin misin ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="delete()">Sil</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="ModalConfirm" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">  
                    </div>
                    <div class="modal-body">
                       
                        <table class="table">
                            <tr>
                                <td>Ziyaretçi</td>
                                <td>
                                    :
                                </td>
                                <td>
                                    {{item.name}}

                                </td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>
                                    :
                                </td>
                                <td>
                                    {{item.email}}

                                </td>
                            </tr>
                            <tr>
                                <td>Telefon</td>
                                <td>
                                    :
                                </td>
                                <td>
                                    {{item.phone}}

                                </td>
                            </tr>
                            <tr>
                                <td>Tarih</td>
                                <td>
                                    :
                                </td>
                                <td>
                                    {{item.date | date:'dd/MM/y'}}

                                </td>
                            </tr>
                        </table>
                        <hr />
                        <p ng-bind-html="item.message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">İptal</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="confirm()"> Yayınla</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="addModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Yeni</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>İsim, Soyisim</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="email" /></td>
                            </tr>
                            <tr>
                                <td>Cep</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="phone" /></td>
                            </tr>
                            <tr>
                                <td>Mesaj</td>
                                <td>:</td>
                                <td>
                                    <div text-angular
                                         ng-model="message"
                                         ta-text-editor-class="border-around"
                                         ta-html-editor-class="border-around"></div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary" ng-click="add()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade modal-slide-in-right" id="editModal" aria-hidden="true"
             aria-labelledby="exampleModalTitle" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title">Düzenle</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <tr>
                                <td>İsim, Soyisim</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="name" /></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="email" /></td>
                            </tr>
                            <tr>
                                <td>Cep</td>
                                <td>:</td>
                                <td><input type="text" required class="form-control" ng-model="phone" /></td>
                            </tr>
                            <tr>
                                <td>Mesaj</td>
                                <td>:</td>
                                <td>
                                    <div text-angular
                                         ng-model="message"
                                         ta-text-editor-class="border-around"
                                         ta-html-editor-class="border-around"></div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default margin-0" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-success" ng-click="update()">Güncelle</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-action">
            <button type="button" class="btn-raised btn btn-success btn-floating" ng-click="openAdd()">
                <i class="front-icon wb-plus animation-scale-up" aria-hidden="true"></i>
                <i class="back-icon wb-close animation-scale-up" aria-hidden="true"></i>
            </button>

        </div>
    </div>
</div>


