﻿@model GeneralWebUI.Model.ViewModel.MenuViewModel
<footer class="main-footer">
    <div class="footer-widgets light-bg border-top pt-80 pb-50">
        <div class="container">
            <div class="row">
                <!-- Footer Widget -->
                <div class="col-md-4 col-lg-4">
                    <img src="~/WebContent/img/logo.png" alt="Alternate Text"  width="100%"/>

                </div>
                    <div class="col-md-4 col-lg-4 text-left">
                        <div class="footer-widget mb-30" data-animate="fadeInUp" data-delay=".1">
                            @*<h3 class="h4">İletişim</h3>*@
                            @if (ViewBag.Dil == "tr")
                            {
                                <p>Teknobant sürekli değişen ve gelişen dünya teknolojisini takip edip uygularken, yurtiçi ve yurtdışı tanıtım,organizasyon fuarlarına katılarak ürünlerini sergilemektedir.</p>
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <p>Teknobant constantly follows the changing and developing world technology, while domestic and international promotion, organization exhibitions are exhibited by participating in exhibitions.</p>
                            }
                            else
                            {
                                <p>Teknobant verfolgt ständig die sich wandelnde und sich entwickelnde Welttechnologie, während nationale und internationale Promotion- und Organisationsausstellungen durch Teilnahme an Ausstellungen gezeigt werden.</p>
                            }

                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <div class="footer-widget mb-30" data-animate="fadeInUp" data-delay=".1" style="margin-top:-10px">
                            <div class="contact-widget-content text-left">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <a href="tel:@Model.Contacts.First().Phone"> @string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope-o"></i>
                                        <a href="mailto:@(Model.Contacts.First().Email)">@(Model.Contacts.First().Email)</a>
                                    </li>
                                    <li>
                                        @if (ViewBag.Dil == "tr")
                                        {
                                            <i class="fa fa-map-marker" style="margin-top:-30px"></i>
                                            <a href="#">@(Html.Raw(Model.Contacts.First().Address))</a>
                                        }
                                        else if (ViewBag.Dil == "en")
                                        {
                                            <i class="fa fa-map-marker" style="margin-top:-80px"></i>
                                            <a href="#">@(Html.Raw(Model.Contacts.First().AddressEn))</a>
                                        }
                                        else
                                        {
                                            <i class="fa fa-map-marker" style="margin-top:-80px"></i>
                                            <a href="#">@(Html.Raw(Model.Contacts.First().AddressGe))</a>
                                        }

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>

    <div class="bottom-footer dark-bg">
        <div class="container">
            <div class="row align-items-center">
                <!-- Copyright -->
                <div class="col-md-6">
                    <div class="copyright-text text-center text-md-left">
                        <p class="mb-md-0">&copy; 2019 Teknobant. All rights reserved. Crafted by codebefore</p>
                    </div>
                </div>

                <!-- Social Profiles -->
                <div class="col-md-6">
                    <ul class="social-profiles nav justify-content-center justify-content-md-end">
                        @foreach (var item in Model.Socials)
                        {
                            <li><a href="@(item.Link)" target="_blank"><i class="@(item.Icon)"></i></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

@*<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5b61aad3e21878736ba2866b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>*@