﻿<!DOCTYPE html>

<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133835049-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133835049-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="@ViewBag.Author" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />    
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/WebContent/css/base.css">
    <link rel="stylesheet" href="~/WebContent/css/jquery.heroCarousel.css">
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@

</head>
<body>

    @await Component.InvokeAsync("MenuTopbar")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>*@
    <script src="~/WebContent/js/jquery.easing-1.3.js"></script>
    @RenderBody()
    @await Component.InvokeAsync("Footer")

    <!-- jQuery Hero Slider -->
    <script src="~/WebContent/js/hero/jquery.heroCarousel-1.3.js"></script>
    <script>
        $(function () {
            if ($('.hero-carousel').length > 0) {
                $('.hero-carousel').heroCarousel({
                    easing: 'easeOutExpo',
                    css3pieFix: true
                });
            }
        });
    </script>

    <!-- Main JS Plugins -->
    <script src="~/WebContent/js/shortcodes.js"></script><!-- Shortcodes -->
    <script src="~/WebContent/js/main.js"></script><!-- Hovers -->
    <script src="~/WebContent/js/selectnav.min.js"></script><!-- Mobile Navigation -->
    <script src="~/WebContent/js/jquery.fancybox.pack.js"></script><!-- Fancybox -->
    <script src="~/WebContent/js/jquery.fancybox-media.js"></script><!-- Fancybox Media Helper -->
    <script src="~/WebContent/js/jquery.flexslider.js"></script><!-- Flexslider -->
    <script src="~/WebContent/js/last-tw.js"></script><!-- Twitter Feed -->

    <script src="~/WebContent/js/settings.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
</body>
</html>
