﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<script src="~/js/Model/Bilgi.js"></script>
<style>
    iframe {
        width: 100%
    }
</style>
@*<section id="page-title" class="container">
    <div class="row">
        <div class="span12">
            @if (ViewBag.Dil == "tr")
            {
                <h1>@(Model.Menu.Name)</h1>
            }
            else if (ViewBag.Dil == "en")
            {
                <h1>@(Model.Menu.NameEn)</h1>
            }
            else
            {
                <h1>@(Model.Menu.NameGe)</h1>
            }
        </div>
    </div>
  
</section>*@
<!-- End Title -->



<div id="map">
    @Html.Raw(Model.Contacts.First().Map)
</div>

<section id="contact-us" class="container" style="margin-top:100px;margin-bottom:100px">
    <div class="row">
        <div class="span6">
            <address class="contacts">
                <span class="e-mail" style="font-size:3em"> <a href="mailto:@(Model.Contacts.First().Email)">@(Model.Contacts.First().Email)</a></span>
                <span class="telephone" style="font-size:2em">  <a href="tel:@Model.Contacts.First().Phone"> @string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))</a></span>
                <span class="address" style="font-size:2em"> @(Html.Raw(Model.Contacts.First().Address))</span>
            </address>
        </div>
        <div class="span6">
            <div class="well" ng-app="bilgiApp" ng-controller="bilgiCtrl">
                <div class="row">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h4 class="bordered-title" style="margin-left:30px">İletişim Formu</h4>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h4 style="margin-left:30px" class="bordered-title">Contact Form</h4>
                    }
                    else
                    {
                        <h4 style="margin-left:30px" class="bordered-title">Kontakt Formular</h4>
                    }
                    <div class="span2 pull-left">
                        @if (ViewBag.Dil == "tr")
                        {
                            <input type="text" name="name" class="span2" placeholder="Ad,Soyad" required ng-model="name" />

                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <input type="text" name="name" class="span2" placeholder="Name,Surname" ng-model="name" required>
                        }
                        else
                        {
                            <input type="text" name="name" class="span2" placeholder="Name, Vorname" ng-model="name" required>
                        }


                        <input type="email" ng-model="email" name="email" class="span2" placeholder="E-mail" required />


                        @if (ViewBag.Dil == "tr")
                        {
                            <input type="text" ng-model="subject" name="subject" class="span2" placeholder="Konu">
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <input type="text" ng-model="subject" name="subject" class="span2" placeholder="Subject">
                        }
                        else
                        {
                            <input type="text" ng-model="subject" name="subject" class="span2" placeholder="Thema">
                        }
                    </div>
                    <div class="span6 pull-right">
                        @if (ViewBag.Dil == "tr")
                        {
                            <textarea name="message" ng-model="object" class="span6" rows="6" placeholder="Mesaj" required></textarea>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <textarea name="message" ng-model="object" class="span6" rows="6" placeholder="Message" required></textarea>
                        }
                        else
                        {
                            <textarea name="message" ng-model="object" class="span6" rows="6" placeholder="Nachricht" required></textarea>
                        }
                        @if (ViewBag.Dil == "tr")
                        {
                            <button type="submit" ng-click="sendEMail()" ng-hide="pleaseWait" class="btn"> <i class="icon-envelope-alt"></i> Gönder</button>
                            <button type="submit" disabled ng-show="pleaseWait" class="btn">Lütfen Bekleyiniz ...</button>

                            <div class="row clearfix" ng-hide="message==undefined">
                                <div class="col-md-12">
                                    {{message}}
                                </div>
                            </div>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <button type="submit" ng-click="sendEMail()" ng-hide="pleaseWait" class="btn"> <i class="icon-envelope-alt"></i> Send</button>
                            <button type="submit" disabled ng-show="pleaseWait" class="btn">Please Wait ...</button>

                            <div class="row clearfix" ng-hide="message==undefined">
                                <div class="col-md-12">
                                    {{message}}
                                </div>
                            </div>
                        }
                        else
                        {
                            <button type="submit" ng-click="sendEMail()"
                                    ng-hide="pleaseWait" class="btn rounded">
                                <i class="icon-envelope-alt"></i>Senden
                            </button>
                            <button type="submit" disabled ng-show="pleaseWait" class="btn rounded">Bitte warte ...</button>

                            <div class="row clearfix" ng-hide="message==undefined">
                                <div class="col-md-12">
                                    {{message}}
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

