﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Corporation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<section class="page-title-wrap" style="background:url(/images/bant.jpg);background-repeat:no-repeat;background-size:cover">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="page-title" data-animate="fadeInUp" data-delay="1.2">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2>Kurumsal</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/tr/Anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                            <li><a href="#">Kurumsal</a></li>
                        </ul>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2>Corporation</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/en/Anasayfa"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">Corporation</a></li>
                        </ul>
                    }
                    else
                    {
                        <h2>Institutionell</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/de/Anasayfa"><i class="fa fa-home"></i> Zuhause</a></li>
                            <li><a href="#">Institutionell</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</section>*@

    <section id="title" class="container">
        <div class="row">
            <div class="span12">
                @if (ViewBag.Dil == "tr")
                {
                    <h1>@(Model.Menu.Name)</h1>
                }
                else if (ViewBag.Dil == "en")
                {
                    <h1>@(Model.Menu.NameEn)</h1>
                }
                else
                {
                    <h1>@(Model.Menu.NameGe)</h1>
                }
            </div>
        </div>
    </section>
<section class="pt-120 pb-70 text-left">
    <div class="container">
        <div class="row align-items-center">
            <div class="span6">
                <div class="faq pb-50" data-animate="fadeInUp" data-delay=".1">
                    <div class="section-title" style="text-align:justify">
                        @if (ViewBag.Dil == "tr")
                        {
                            <div class="section-title">
                                <p> 2017 Yılında Bursa'da kurulan Teknobant başta otomotiv olmak üzere endüstriyel üretim yapan tüm sektörlere hizmet vermektedir.</p>

                                <p>  Müşteri odaklı satış anlayışıyla daima müşterimizin yanındayız.Satışı sadece mal ve para değişimi olarak değil, satışın başlangıcından,müşterinin ürününe kattığı değere kadar uzun bir süreç olarak görüyoruz. Teknobant, müşteri odaklı satış anlayışıyla daima yanınızdayız ve uygulamalarınız için, en kısa zamanda en iyi ve en ekonomik çözümleri sunuyoruz.</p>
                                <p>
                                    Teknobant sürekli değişen ve gelişen dünya teknolojisini takip edip uygularken, yurtiçi ve yurtdışı tanıtım,organizasyon fuarlarına katılarak ürünlerini sergilemektedir.
                                </p>
                            </div>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <div class="section-title">
                                <p> Established in Bursa in 2017, Teknobant serves all sectors of industrial production, mainly automotive.</p>

                                <p>  With our customer-oriented sales approach, we always stand by our customers. Teknobant is always with you with its customer-oriented sales approach and we offer the best and most economical solutions for your applications as soon as possible.</p>
                                <p>
                                    Teknobant constantly follows the changing and developing world technology, while domestic and international promotion, organization exhibitions are exhibited by participating in exhibitions.
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="section-title">
                                <p> Teknobant wurde 2017 in Bursa gegründet und bedient alle Sektoren der industriellen Produktion, vor allem die Automobilindustrie. </p>

                                <p> Mit unserem kundenorientierten Vertriebsansatz stehen wir immer zu unseren Kunden. Teknobant ist mit seinem kundenorientierten Vertriebsansatz immer bei Ihnen und wir bieten Ihnen so schnell wie möglich die besten und wirtschaftlichsten Lösungen für Ihre Anwendungen. </p>
                                <p>
                                    Teknobant verfolgt ständig die sich wandelnde und sich entwickelnde Welttechnologie, während nationale und internationale Promotion- und Organisationsausstellungen durch Teilnahme an Ausstellungen gezeigt werden.
                                </p>
                            </div>
                        }
                    </div>

                </div>
            </div>

            <div class="span6">
                <div class="popup-video mb-50" data-animate="fadeInUp" data-delay=".4">
                    <a target="_blank" href="https://www.youtube.com/watch?v=2FYH0rWbt-U" data-fancybox class="youtube-popup play-btn ripple">
                        <img src="https://www.teknobant.com/images/video.png" alt="">
                    </a>
                </div>
            </div>
                @foreach (var item in Model.Contents)
                {
                    <div class="span6" style="text-align:justify;margin-top:40px;margin-bottom:40px">
                        <div class="single-about-us animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                            @if (ViewBag.Dil == "tr")
                            {
                                <h4 class="h4">@(item.Name)</h4>
                                @(Html.Raw(item.Description))
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <h4 class="h4">@(item.NameEn)</h4>
                                @(Html.Raw(item.DescriptionEn))
                            }
                            else
                            {
                                <h4 class="h4">@(item.NameGe)</h4>
                                @(Html.Raw(item.DescriptionGe))
                            }

                        </div>
                    </div>
                }
        </div>
    </div>
</section>
