﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="hero">
    <div class="hero-carousel">
        @foreach (var item in Model.Sliders)
        {


            @if (ViewBag.Dil == "tr")
            {
                <article>
                    <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.Name)" />
                    <div class="contents">
                        <h4 class="color-text">@(item.Name)</h4>
                        <p>@(item.Description)</p>
                    </div>
                </article>
            }
            else if (ViewBag.Dil == "en")
            {

                <article>
                    <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.NameEn)" />
                    <div class="contents">
                        <h4 class="color-text">@(item.NameEn)</h4>
                        <p>@(item.DescriptionEn)</p>
                    </div>
                </article>
            }
            else
            {
                <article>
                    <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.NameGe)" />
                    <div class="contents">
                        <h4 class="color-text">@(item.NameGe)</h4>
                        <p>@(item.DescriptionGe)</p>
                    </div>
                </article>
            }

        }
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="faq pb-50" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <div class="section-title">
                            <h2>Kurumsal</h2>
                            <p> 2017 Yılında Bursa'da kurulan Teknobant başta otomotiv olmak üzere endüstriyel üretim yapan tüm sektörlere hizmet vermektedir.</p>

                            <p>  Müşteri odaklı satış anlayışıyla daima müşterimizin yanındayız.Satışı sadece mal ve para değişimi olarak değil, satışın başlangıcından,müşterinin ürününe kattığı değere kadar uzun bir süreç olarak görüyoruz. Teknobant, müşteri odaklı satış anlayışıyla daima yanınızdayız ve uygulamalarınız için, en kısa zamanda en iyi ve en ekonomik çözümleri sunuyoruz.</p>
                            <p>
                                Teknobant sürekli değişen ve gelişen dünya teknolojisini takip edip uygularken, yurtiçi ve yurtdışı tanıtım,organizasyon fuarlarına katılarak ürünlerini sergilemektedir.
                            </p>
                        </div>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <div class="section-title">
                            <h2>Corporation</h2>
                            <p> Established in Bursa in 2017, Teknobant serves all sectors of industrial production, mainly automotive.</p>

                            <p>  With our customer-oriented sales approach, we always stand by our customers. Teknobant is always with you with its customer-oriented sales approach and we offer the best and most economical solutions for your applications as soon as possible.</p>
                            <p>
                                Teknobant constantly follows the changing and developing world technology, while domestic and international promotion, organization exhibitions are exhibited by participating in exhibitions.
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="section-title">
                            <h2>Institutionell</h2>
                            <p> Teknobant wurde 2017 in Bursa gegründet und bedient alle Sektoren der industriellen Produktion, vor allem die Automobilindustrie. </p>

                            <p> Mit unserem kundenorientierten Vertriebsansatz stehen wir immer zu unseren Kunden. Teknobant ist mit seinem kundenorientierten Vertriebsansatz immer bei Ihnen und wir bieten Ihnen so schnell wie möglich die besten und wirtschaftlichsten Lösungen für Ihre Anwendungen. </p>
                            <p>
                                Teknobant verfolgt ständig die sich wandelnde und sich entwickelnde Welttechnologie, während nationale und internationale Promotion- und Organisationsausstellungen durch Teilnahme an Ausstellungen gezeigt werden.
                            </p>
                        </div>
                    }


                </div>
            </div>
            <div class="span6">
                <div class="popup-video mb-50" data-animate="fadeInUp" data-delay=".4">
                    <a target="_blank" href="https://www.youtube.com/watch?v=2FYH0rWbt-U" data-fancybox class="youtube-popup play-btn ripple">
                        <img src="https://www.teknobant.com/images/video.png" alt="">
                    </a>
                </div>

            </div>
        </div>
        <div class="row" style="padding-top:30px">
            @foreach (var item in Model.Contents)
            {
                <div class="span4">
                    <div class="single-about-us animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                        @if (ViewBag.Dil == "tr")
                        {
                            <h5>@(item.Name)</h5>
                            <p>@(item.ShortDescription)<a href="/tr/Kurumsal"> Devamı...</a></p>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <h5>@(item.NameEn)</h5>
                            <p>@(item.ShortDescriptionEn)<a href="/en/Kurumsal"> Read more...</a></p>
                        }
                        else
                        {
                            <h5>@(item.NameGe)</h5>
                            <p>@(item.ShortDescriptionGe)<a href="/de/Kurumsal"> Weiterlesen...</a></p>
                        }

                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section style="background: #1a1c1e url(/WebContent/img/countdown-bg.jpg) center center no-repeat;padding-top:50px;margin-top:30px;padding-bottom:50px">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" style="text-align:center" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h3 style="color:white">Sektörler</h3>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h3 style="color:white">Sectors</h3>
                    }
                    else
                    {
                        <h3 style="color:white">Branchen</h3>
                    }
                    @*<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>*@
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.Services)
            {
                <div class="span4">
                    <div class="single-feature single-feature-img-left text-left" data-animate="fadeInUp" data-delay=".05" style="padding-bottom:30px">
                        <div class="single-feature-img" style="float:left;margin-top:-15px">
                            <img src="~/images/logofigur.png" alt="" class="svg" width="50" />
                        </div>
                        <div class="single-feature-content">
                            @if (ViewBag.Dil == "tr")
                            {
                                <h5 style="color:white;">@(item.Name)</h5>
                                @*<p>@(item.ShortDescription)</p>*@
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <h5 style="color:white">@(item.NameEn)</h5>
                                @*<p>@(item.ShortDescriptionEn)</p>*@
                            }
                            else
                            {
                                <h5 style="color:white">@(item.NameGe)</h5>
                                @*<p>@(item.ShortDescriptionGe)</p>*@
                            }

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>