﻿@model GeneralWebUI.Model.ViewModel.ProductViewModel
@{
    //ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-title" class="container">
    <div class="row">
        <div class="span10">
            @if (ViewBag.Dil == "tr")
            {
                <h2>@(Model.Product.Name)</h2>

            }
            else if (ViewBag.Dil == "en")
            {
                <h2>@(Model.Product.NameEn)</h2>

            }
            else
            {
                <h2>@(Model.Product.NameGe)</h2>

            }
            
        </div>
        
    </div>
    <div class="row">
        <hr class="span12 clear-bottom">
    </div>
</section>


<section class="pt-120 pb-65">
    <div class="container text-left">
        <div class="row">
            
            <div class="span12">
                <div class="hero-carousel" >
                    @foreach (var item in Model.Product.Images)
                    {


                        @if (ViewBag.Dil == "tr")
                        {
                            <article>
                                <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.Product.Name)" />
                                <div class="contents">
                                    <h4 class="color-text">@(item.Product.Name)</h4>
                                    <p>@(item.Product.ShortDescription)</p>
                                </div>
                            </article>
                        }
                        else if (ViewBag.Dil == "en")
                        {

                <article>
                    <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.Product.NameEn)" />
                    <div class="contents">
                        <h4 class="color-text">@(item.Product.NameEn)</h4>
                        <p>@(item.Product.ShortDescriptionEn)</p>
                    </div>
                </article>
                        }
                        else
                        {
                <article>
                    <img class="slider-image" src="@(item.CloudUrl)" alt="@(item.Product.NameGe)" />
                    <div class="contents">
                        <h4 class="color-text">@(item.Product.NameGe)</h4>
                        <p>@(item.Product.ShortDescriptionGe)</p>
                    </div>
                </article>
                        }

                    }
                </div>
            </div>
            <div class="span12" style="font-size:1.4em;margin-top:40px">
                @if (ViewBag.Dil == "tr")
                {
                    @Html.Raw(Model.Product.Description)

                }
                else if (ViewBag.Dil == "en")
                {
                   @Html.Raw(Model.Product.DescriptionEn)
                }
                else
                {
                  @Html.Raw(Model.Product.ShortDescriptionGe)
                }
            </div>
            <!-- Sidebar -->
            <!-- End of Sidebar -->
        </div>
    </div>
</section>
