﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel

@{
    //ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="page-title" class="container">
    <div class="row">
        <div class="span10">
            @if (ViewBag.Dil == "tr")
            {
                <h2>Ürünler</h2>

            }
            else if (ViewBag.Dil == "en")
            {
                <h2>Products</h2>

            }
            else
            {
                <h2>Produkte</h2>

            }
            <div class="dropdown">
                <div class="dropmenu">
                    <p class="menu-title">
                        @if (ViewBag.Dil == "tr")
                        {
                            @("Göster")
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            @("Show")
                        }
                        else
                        {
                            @("Show")
                        }
                    </p>
                    <p class="selected">
                        @if (ViewBag.Dil == "tr")
                        {
                            @("Bütün Ürünler")
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            @("All Products")
                        }
                        else
                        {
                            @("All Produkte")
                        }
                    </p>
                    <i class="icon-chevron-down"></i>
                </div>
                <div class="dropmenu-active">
                    <ul class="option-set" data-option-key="filter">
                        <li>
                            <a class="selected drop-selected" href="#filter" data-option-value="*">
                                @if (ViewBag.Dil == "tr")
                                {
                                    @("Bütün Ürünler")
                                }
                                else if (ViewBag.Dil == "en")
                                {
                                    @("All Products")
                                }
                                else
                                {
                                    @("All Produkte")
                                }
                            </a>
                        </li>
                        @foreach (var item in Model.ProductCategories)
                        {
                            <li>
                                <a href="#filter" data-option-value="@("."+item.NameEn)">
                                    @if (ViewBag.Dil == "tr")
                                    {
                                        @(item.Name)
                                    }
                                    else if (ViewBag.Dil == "en")
                                    {
                                        @(item.NameEn)
                                    }
                                    else
                                    {
                                        @(item.NameGe)
                                    }


                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="span2 hidden-phone">
            <p>
                <span class="number">@(Model.Products.Count())</span> @if (ViewBag.Dil == "tr")
                {
                    @("Ürünler")
                }
                else if (ViewBag.Dil == "en")
                {
                    @("Products")
                }
                else
                {
                    @("Produkte")
                }
            </p>
        </div>
    </div>
    <div class="row">
        <hr class="span12 clear-bottom">
    </div>
</section>
<!-- End Title -->
<!-- Start Projects -->
<section id="projects" class="container">
    <div id="posts" class="isotope row">
        @foreach (var item in Model.Products)
        {
            <div class="post item span4 isotope-item @(item.ProductCategory.NameEn.ToString())">
                <a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)" class="project-wrp hover-down">
                    <div class="content-wrp">
                        <img alt="" src="@(item.Images.OrderBy(x=> x.OrderNo).First().CloudUrl)" />
                        @if (ViewBag.Dil == "tr")
                        {
                            <p class="project-name">@(item.Name)</p>
                            <p class="project-desc">@(item.ProductCategory.Name)</p>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <p class="project-name">@(item.NameEn)</p>
                            <p class="project-desc">@(item.ProductCategory.NameEn)</p>
                        }
                        else
                        {
                            <p class="project-name">@(item.NameGe)</p>
                            <p class="project-desc">@(item.ProductCategory.NameGe)</p>
                        }

                    </div>
                    <div class="overlay-wrp">
                        <div class="overlay"></div>
                        @if (ViewBag.Dil == "tr")
                        {
                            <p class="project-name">@(item.Name)</p>
                            <p class="project-desc">@(item.ProductCategory.Name)</p>
                            <i class="icon-arrow-right"></i>

                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <p class="project-name">@(item.NameEn)</p>
                            <p class="project-desc">@(item.ProductCategory.NameEn)</p>
                            <i class="icon-arrow-right"></i>

                        }
                        else
                        {
                            <p class="project-name">@(item.NameGe)</p>
                            <p class="project-desc">@(item.ProductCategory.NameGe)</p>
                            <i class="icon-arrow-right"></i>

                        }
                    </div>
                </a>
            </div>
        }
        <!-- Start Project -->
        <!-- End Project -->

    </div>
</section>
<!-- End Projects -->
<script src="~/WebContent/js/jquery.isotope.min.js"></script><!-- Isotope Portfolio -->
<script src="~/WebContent/js/mql.js"></script><!-- Isotope Fix -->
<script>$(function(){
			$('.post.span4').show();
			var $container = $('#posts');
			$container.isotope({
				itemSelector : '.post'
			});
			var $optionSets = $('#page-title .option-set'),
				$optionLinks = $optionSets.find('a');
			$optionLinks.click(function(){
				var $this = $(this);
				// don't proceed if already selected
				if ( $this.hasClass('selected') ) {
					return false;
				}
				var $optionSet = $this.parents('.option-set');
				$optionSet.find('.selected').removeClass('selected');
				$this.addClass('selected');
			// make option object dynamically, i.e. { filter: '.my-filter-class' }
			var options = {},
				key = $optionSet.attr('data-option-key'),
				value = $this.attr('data-option-value');

			// parse 'false' as false boolean
			value = value === 'false' ? false : value;
			options[ key ] = value;
				if ( key === 'layoutMode' && typeof changeLayoutMode === 'function' ) {
				// changes in layout modes need extra logic
				changeLayoutMode( $this, options )
			} else {
				// otherwise, apply new options
				$container.isotope( options );
			}
			return false;
			});
		});</script>
<script>selectnav('navigation', {
			nested: true,
			indent: '-'
		});</script>
