﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="title" class="container">
    <div class="row">
        <div class="span12">
            @if (ViewBag.Dil == "tr")
            {
                <h1>@(Model.Menu.Name)</h1>
            }
            else if (ViewBag.Dil == "en")
            {
                <h1>@(Model.Menu.NameEn)</h1>
            }
            else
            {
                <h1>@(Model.Menu.NameGe)</h1>
            }
        </div>
    </div>
</section>
<section>
    <div class="container text-justify pt-120 pb-65">
        @if (ViewBag.Dil == "tr")
        {
            <div class="row">
                <div class="span6" style="font-size:1.6em">
                    <p> Teknobant ve çalışanları olarak, ulusal ve uluslararası yasal mevzuat ve düzenlemeler çerçevesinde, gelecek nesilleri için sürdürülebilir ve yeşil bir yaşam hedeflemekteyiz. Sürekli gelişmeyi temel alan ve ileri teknolojimizi kullanan bir çevre yönetim sistemi dahilinde çevre dostu üretim sistemleri ile ürünlerimizi üretiriz.</p>

                    <p>
                        İklim değişikliğine karşı duyarlı, temiz ve sağlıklı bir çevrenin gelecek nesillere aktarılması bizim için öncelik taşır. Enerji ve doğal kaynakların verimli kullanılması, tasarımdan ürünün ömrünün sonuna kadar tüm süreçlerde olumsuz çevresel etkilerin azaltılması, oluşabilecek kirliliğin kaynağında önlenmesi, bütün faaliyetlerde iklim değişikliği ve sürdürülebilirliğin öncelikli kılınması bizim için çok önemlidir.
                    </p>
                    <p>
                        Takım arkadaşlarımızın ve toplumun çevre bilincinin artırılması yönünde faaliyetlerimizi Kalite, Enerji, İş Sağlığı ve Güvenliği Yönetim Sistemleri ile birlikte bütünleşik bir şekilde yöneterek, sektörümüzde çevresel öncülüğümüzle örnek bir kuruluş olmak için tüm kalbimiz ve gücümüzle çalışırız.
                    </p>


                </div>
                <div class="span6">
                    <img src="~/images/eco.jpg" alt="Alternate Text" />
                </div>
            </div>

        }
        else if (ViewBag.Dil == "en")
        {
            <div class="row">
                <div class="span6" style="font-size:1.6em">
                    <p>
                        As Teknobant and its employees, we target a sustainable and green life for future generations within the framework of national and international legislation and regulations. We produce our products with environmentally friendly production systems within an environmental management system based on continuous development and using our advanced technology.
                    </p><p>
                        Transferring a clean, healthy environment to the next generations is a priority for us. Efficient use of energy and natural resources, reducing the negative environmental impacts from design to the end of product life, preventing pollution at the source, and prioritizing climate change and sustainability in all activities are very important for us.
                    </p><p>
                        We manage our activities in an integrated manner with our Quality, Energy, Occupational Health and Safety Management Systems in order to increase the environmental awareness of our team-mates and the society.
                    </p>

                </div>
                <div class="span6">
                    <img src="~/images/eco.jpg" alt="Alternate Text" />
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="span6" style="font-size:1.6em">
                    <p>
                        Als Teknobant und seine Mitarbeiter streben wir im Rahmen nationaler und internationaler Gesetze und Vorschriften ein nachhaltiges und grünes Leben für zukünftige Generationen an. Wir produzieren unsere Produkte mit umweltfreundlichen Produktionssystemen in einem Umweltmanagementsystem, das auf ständiger Entwicklung basiert und unsere fortschrittliche Technologie verwendet.
                    </p><p>
                        Die Übertragung einer sauberen, gesunden Umgebung auf die nächsten Generationen hat für uns Priorität. Die effiziente Nutzung von Energie und natürlichen Ressourcen, die Verringerung der negativen Umweltauswirkungen vom Entwurf bis zum Ende der Produktlebensdauer, die Vermeidung von Umweltverschmutzung an der Quelle sowie die Priorisierung des Klimawandels und der Nachhaltigkeit bei allen Aktivitäten sind für uns sehr wichtig.
                    </p><p>

                        Wir steuern unsere Aktivitäten in integrierter Weise mit unseren Managementsystemen für Qualität, Energie, Arbeitssicherheit und Gesundheitsschutz, um das Umweltbewusstsein unserer Teamkollegen und der Gesellschaft zu erhöhen.
                    </p>
                </div>
                <div class="span6">
                    <img src="~/images/eco.jpg" alt="Alternate Text" />
                </div>
            </div>
        }

    </div>
</section>


