﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="title" class="container">
    <div class="row">
        <div class="span12">
            @if (ViewBag.Dil == "tr")
            {
                <h1>@(Model.Menu.Name)</h1>
            }
            else if (ViewBag.Dil == "en")
            {
                <h1>@(Model.Menu.NameEn)</h1>
            }
            else
            {
                <h1>@(Model.Menu.NameGe)</h1>
            }
        </div>
    </div>
</section>



<section class="pt-120 pb-65">
    <div class="container text-left">
        <div class="row">
            <div class="span4">
                @if (ViewBag.Dil == "tr")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h4 class="bordered-title">SEKTÖRLER</h4>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/tr/Sektörler/@(item.Id)">@(item.Name)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else if (ViewBag.Dil == "en")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h4 class="bordered-title">SECTORS</h4>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/en/Sektörler/@(item.Id)">@(item.NameEn)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h4 class="bordered-title">SEKTÖRLER</h4>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/de/Sektörler/@(item.Id)">@(item.NameGe)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }

            </div>
            <div class="span8">
                <div class="product-details-wrap" data-animate="fadeInUp" data-delay=".1">
                    <h4 class="h4">@Model.Service.Name.ToUpper()</h4>
                    @Html.Raw(Model.Service.Description)
                </div>
            </div>

            <!-- Sidebar -->
            <!-- End of Sidebar -->
        </div>
    </div>
</section>
