﻿@model GeneralWebUI.Model.ViewModel.MenuViewModel

<section id="yellow-line">
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="vertical-align">
                    <h5>
                        <i class="icon-phone"></i>
                        <a href="tel:@Model.Contacts.First().Phone"> @string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))</a>
                    </h5>
                </div>
            </div>
            <div class="span4 hidden-phone">
                <div class="vertical-align">
                    <h5 class="visible-big-desktop">Follow us:</h5>
                    <ul class="social-icons unstyled">
                        @foreach (var item in Model.Socials)
                        {
                            <li><a href="@(item.Link)"><i class="@(item.Icon)"></i></a></li>
                        }
                      
                    </ul>
                </div>
            </div>
            <div class="span4 hidden-phone">
                <div class="vertical-align">
                    <h5>
                        <i class="icon-envelope"></i>
                        <a href="mailto:@(Model.Contacts.First().Email)">@(Model.Contacts.First().Email)</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="span12" style="text-align:center">

                @if (ViewBag.Dil == "tr")
                {
                    <h5>
                        <a href="#">@(Html.Raw(Model.Contacts.First().Address))</a>
                    </h5>
                }
                else if (ViewBag.Dil == "en")
                {
                    <i class="fa fa-map-marker" style="margin-top:-80px"></i>
                    <a href="#">@(Html.Raw(Model.Contacts.First().AddressEn))</a>
                }
                else
                {
                    <i class="fa fa-map-marker" style="margin-top:-80px"></i>
                    <a href="#">@(Html.Raw(Model.Contacts.First().AddressGe))</a>
                }
            </div>
        </div>
    </div>
</section>
<footer class="container">
    <div class="row">
        <div class="span12" >
            <p style="text-align:center">
                © 2019 <a href="/">Teknobant</a>. Developed by codebefore.<br>
            </p>
        </div>
    </div>
</footer>





@*<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5b61aad3e21878736ba2866b/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>*@