﻿<nav class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
                data-toggle="menubar">
            <span class="sr-only">Toggle navigation</span>
            <span class="hamburger-bar"></span>
        </button>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-collapse"
                data-toggle="collapse">
            <i class="icon wb-more-horizontal" aria-hidden="true"></i>
        </button>
        <div class="navbar-brand navbar-brand-center site-gridmenu-toggle" data-toggle="gridmenu">
            <img class="navbar-brand-logo" src="~/PanelContent/assets/images/logo.png" title="">
            <span class="navbar-brand-text hidden-xs-down">Panel</span>
        </div>
        <button type="button" class="navbar-toggler collapsed" data-target="#site-navbar-search"
                data-toggle="collapse">
            <span class="sr-only">Toggle Search</span>
            <i class="icon wb-search" aria-hidden="true"></i>
        </button>
    </div>
    <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="site-navbar-collapse">
            <!-- Navbar Toolbar -->
            <ul class="nav navbar-toolbar">
                <li class="nav-item hidden-float" id="toggleMenubar">
                    <a class="nav-link" data-toggle="menubar" href="#" role="button">
                        <i class="icon hamburger hamburger-arrow-left">
                            <span class="sr-only">Toggle menubar</span>
                            <span class="hamburger-bar"></span>
                        </i>
                    </a>
                </li>
                <li class="nav-item hidden-sm-down" id="toggleFullscreen">
                    <a class="nav-link icon icon-fullscreen" data-toggle="fullscreen" href="#" role="button">
                        <span class="sr-only">Toggle fullscreen</span>
                    </a>
                </li>
                <li class="nav-item hidden-float">
                    <a class="nav-link icon wb-search" data-toggle="collapse" href="#" data-target="#site-navbar-search"
                       role="button">
                        <span class="sr-only">Toggle Search</span>
                    </a>
                </li>

            </ul>
            <!-- End Navbar Toolbar -->
            <!-- Navbar Toolbar Right -->
            <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">

                <li class="nav-item dropdown">
                    <a class="nav-link navbar-avatar" data-toggle="dropdown" href="#" aria-expanded="false"
                       data-animation="scale-up" role="button">
                        <span class="avatar avatar-online">
                            <img src="~/PanelContent/global/portraits/5.jpg" alt="...">
                            <i></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" role="menu">
                        @*<a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-user" aria-hidden="true"></i> Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-payment" aria-hidden="true"></i> Billing</a>
                            <a class="dropdown-item" href="javascript:void(0)" role="menuitem"><i class="icon wb-settings" aria-hidden="true"></i> Settings</a>*@
                        <div class="dropdown-divider" role="presentation"></div>
                        <a class="dropdown-item" href="/Login" role="menuitem"><i class="icon wb-power" aria-hidden="true"></i> Güvenli Çıkış</a>
                    </div>
                </li>
            </ul>
            <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->
        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
            <form role="search">
                <div class="form-group">
                    <div class="input-search">
                        <i class="input-search-icon wb-search" aria-hidden="true"></i>
                        <input type="text" class="form-control" name="site-search" placeholder="Search...">
                        <button type="button" class="input-search-close icon wb-close" data-target="#site-navbar-search"
                                data-toggle="collapse" aria-label="Close"></button>
                    </div>
                </div>
            </form>
        </div>
        <!-- End Site Navbar Seach -->
    </div>
</nav>
<div class="site-menubar">
    <div class="site-menubar-body">
        <div>
            <div>
                <ul class="site-menu" data-plugin="menu">
                    <li class="site-menu-category">Menü</li>
                    <li class="site-menu-item has-sub" id="ayarlar">
                        <a href="javascript:void(0)">
                            <i class="site-menu-icon wb-settings" aria-hidden="true"></i>
                            <span class="site-menu-title">Ayarlar</span>
                            <span class="site-menu-arrow"></span>
                        </a>
                        <ul class="site-menu-sub">
                            <li class="site-menu-item has-sub" id="user">
                                <a href="/Admin/Users">
                                    <span class="site-menu-title">Kullanıcılar</span>
                                </a>
                            </li>
                            <li class="site-menu-item has-sub" id="meta">
                                <a href="/Admin/Metas">
                                    <span class="site-menu-title">Meta Tags</span>
                                </a>
                            </li>
                            @*<li class="site-menu-item has-sub" id="uploadImage">
                                <a href="/Admin/UploadImage">
                                    <span class="site-menu-title">Resim Yükleme</span>
                                </a>
                            </li>*@

                        </ul>
                    </li>
                    <li class="site-menu-item has-sub" id="slider">
                        <a href="/Admin/Sliders">
                            <i class="site-menu-icon fa fa-image" aria-hidden="true"></i>
                            <span class="site-menu-title">Slider</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" id="menu">
                        <a href="/Admin/Menus">
                            <i class="site-menu-icon fa fa-bars" aria-hidden="true"></i>
                            <span class="site-menu-title">Menü</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" id="content">
                        <a href="/Admin/Contents">
                            <i class="site-menu-icon fa fa-edit" aria-hidden="true"></i>
                            <span class="site-menu-title">Kurumsal</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" id="productcategory">
                        <a href="/Admin/ProductCategorys">
                            <i class="site-menu-icon fa fa-opera" aria-hidden="true"></i>
                            <span class="site-menu-title">Ürün Kategoriler</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" id="products">
                        <a href="/Admin/Products">
                            <i class="site-menu-icon fa fa-opera" aria-hidden="true"></i>
                            <span class="site-menu-title">Ürünler</span>
                        </a>
                    </li>
                    @*<li class="site-menu-item has-sub" id="reference">
                        <a href="/Admin/References">
                            <i class="site-menu-icon fa fa-image" aria-hidden="true"></i>
                            <span class="site-menu-title">Referans</span>
                        </a>
                    </li>*@

                    <li class="site-menu-item has-sub" id="services">
                        <a href="/Admin/Services">
                            <i class="site-menu-icon fa fa-bars" aria-hidden="true"></i>
                            <span class="site-menu-title">Sektörler</span>
                        </a>
                    </li>
                    <li class="site-menu-item has-sub" id="social">
                        <a href="/Admin/Socials">
                            <i class="site-menu-icon fa fa-facebook" aria-hidden="true"></i>
                            <span class="site-menu-title">Sosyal Medya</span>
                        </a>
                    </li>

                    @*<li class="site-menu-item has-sub" id="counter">
                        <a href="/Admin/Counters">
                            <i class="site-menu-icon fa fa-sort-numeric-asc" aria-hidden="true"></i>
                            <span class="site-menu-title">Sayaç</span>
                        </a>
                    </li>*@
                    <li class="site-menu-item has-sub" id="contact">
                        <a href="/Admin/Contacts">
                            <i class="site-menu-icon fa fa-map-marker" aria-hidden="true"></i>
                            <span class="site-menu-title">İletişim</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
