﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js"></script>
<script src="~/js/Model/Bilgi.js"></script>
<style>
    iframe {
        width: 100%
    }
</style>
<section class="page-title-wrap" style="background:url(/images/bant.jpg);background-repeat:no-repeat;background-size:cover">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="page-title" data-animate="fadeInUp" data-delay="1.2">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2>İletişim</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/tr/Anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2>Contact</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/en/Anasayfa"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    }
                    else
                    {
                        <h2>Kommunikation</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/de/Anasayfa"><i class="fa fa-home"></i> Zuhause</a></li>
                            <li><a href="#">Kommunikation</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-120 pb-120">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Map -->
                @Html.Raw(Model.Contacts.First().Map)
            </div>

        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="page-contacts-widget-wrapper light-bg d-flex align-items-center" data-animate="fadeInUp" data-delay=".1">
                    <!-- Contact Info -->
                    <div class="page-contacts-widget text-left">
                        @if (ViewBag.Dil == "tr")
                        {
                            <h3 class="h4">İletişim</h3>

                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <h3 class="h4">Contact</h3>
                        }
                        else
                        {
                            <h3 class="h4">Kontakt</h3>
                        }

                        <div class="contact-widget-content">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:@Model.Contacts.First().Phone"> @string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope-o"></i>
                                    <a href="mailto:@(Model.Contacts.First().Email)">@(Model.Contacts.First().Email)</a>
                                </li>
                                <li>

                                    @if (ViewBag.Dil == "tr")
                                    {
                                        <i class="fa fa-map-marker" style="margin-top:-40px"></i>

                                        <a href="">
                                            @(Html.Raw(Model.Contacts.First().Address))
                                        </a>

                                    }
                                    else if (ViewBag.Dil == "en")
                                    {
                                        <i class="fa fa-map-marker" style="margin-top:-80px"></i>

                                        <a href="">@(Html.Raw(Model.Contacts.First().AddressEn))</a>

                                    }
                                    else
                                    {
                                        <i class="fa fa-map-marker" style="margin-top:-80px"></i>

                                        <a href="">@(Html.Raw(Model.Contacts.First().AddressGe))</a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 text-left" ng-app="bilgiApp" ng-controller="bilgiCtrl">
                <!-- Contact Form -->
                <div class="contact-form parsley-validate-wrap mt-60" data-animate="fadeInUp" data-delay=".4">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h3 class="bordered-title">İletişim Formu</h3>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h3 class="bordered-title">Contact Form</h3>
                    }
                    else
                    {
                        <h3 class="bordered-title">Kontakt Formular</h3>
                    }
                    <div class="form-response"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-field">
                                @if (ViewBag.Dil == "tr")
                                {
                                    <input type="text" name="name" class="theme-input-style" placeholder="Ad,Soyad" required ng-model="name" />

                                }
                                else if (ViewBag.Dil == "en")
                                {
                                    <input type="text" name="name" class="theme-input-style" placeholder="Name,Surname" ng-model="name" required>
                                }
                                else
                                {
                                    <input type="text" name="name" class="theme-input-style" placeholder="Name, Vorname" ng-model="name" required>
                                }
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field">
                                <input type="email" ng-model="email" name="email" class="theme-input-style" placeholder="E-mail" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field">
                                @if (ViewBag.Dil == "tr")
                                {
                                    <input type="text" ng-model="phone" name="phone" class="theme-input-style" placeholder="Cep" required data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
                                }
                                else if (ViewBag.Dil == "en")
                                {
                                    <input type="text" ng-model="phone" name="phone" class="theme-input-style" placeholder="Phone" required data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
                                }
                                else
                                {
                                    <input type="text" ng-model="phone" name="phone" class="theme-input-style" placeholder="Tasche" required data-parsley-pattern="^[\d\+\-\.\(\)\/\s]*$">
                                }

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-field">
                                @if (ViewBag.Dil == "tr")
                                {
                                    <input type="text" ng-model="subject" name="subject" class="theme-input-style" placeholder="Konu">
                                }
                                else if (ViewBag.Dil == "en")
                                {
                                    <input type="text" ng-model="subject" name="subject" class="theme-input-style" placeholder="Subject">
                                }
                                else
                                {
                                    <input type="text" ng-model="subject" name="subject" class="theme-input-style" placeholder="Thema">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        @if (ViewBag.Dil == "tr")
                        {
                            <textarea name="message" ng-model="object" class="theme-input-style" placeholder="Mesaj" required></textarea>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <textarea name="message" ng-model="object" class="theme-input-style" placeholder="Message" required></textarea>
                        }
                        else
                        {
                            <input type="text" ng-model="object" name="subject" class="theme-input-style" placeholder="Nachricht">
                        }
                    </div>
                    @if (ViewBag.Dil == "tr")
                    {
                        <button type="submit" ng-click="sendEMail()" ng-hide="pleaseWait" class="btn">Gönder</button>
                        <button type="submit" disabled ng-show="pleaseWait" class="btn">Lütfen Bekleyiniz ...</button>

                        <div class="row clearfix" ng-hide="message==undefined">
                            <div class="col-md-12">
                                {{message}}
                            </div>
                        </div>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <button type="submit" ng-click="sendEMail()" ng-hide="pleaseWait" class="btn">Send</button>
                        <button type="submit" disabled ng-show="pleaseWait" class="btn">Please Wait ...</button>

                        <div class="row clearfix" ng-hide="message==undefined">
                            <div class="col-md-12">
                                {{message}}
                            </div>
                        </div>
                    }
                    else
                    {
                        <button type="submit" ng-click="sendEMail()" ng-hide="pleaseWait" class="btn">Senden</button>
                        <button type="submit" disabled ng-show="pleaseWait" class="btn">Bitte warte ...</button>

                        <div class="row clearfix" ng-hide="message==undefined">
                            <div class="col-md-12">
                                {{message}}
                            </div>
                        </div>
                    }
                </div>
                <!-- End of Contact Form -->
            </div>
        </div>
    </div>
</section>