﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <div class="main-slider swiper-container">
        <div class="swiper-wrapper">
            <!-- Single slide -->
            @foreach (var item in Model.Sliders)
            {
                <div class="swiper-slide position-relative">
                    <img src="@(item.CloudUrl)" alt="" style="width:100%;height:100%">
                    <div class="slide-content container">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-8">
                                <div class="slide-content-inner text-left">
                                    @if (ViewBag.Dil == "tr")
                                    {
                                        <h4 data-animate="fadeInUp" data-delay=".05">Teknobant</h4>
                                        <h2 data-animate="fadeInUp" data-delay=".3">@(item.Name)</h2>
                                        <p style="color:white" data-animate="fadeInUp" data-delay=".05">@(item.Description)</p>
                                        <a data-animate="fadeInUp" data-delay=".6" href="/tr/Kurumsal" class="btn">Kurumsal</a>
                                    }
                                    else if (ViewBag.Dil == "en")
                                    {
                                        <h4 data-animate="fadeInUp" data-delay=".05">Teknobant</h4>
                                        <h2 data-animate="fadeInUp" data-delay=".3">@(item.NameEn)</h2>
                                        <p style="color:white" data-animate="fadeInUp" data-delay=".05">@(item.DescriptionEn)</p>
                                        <a data-animate="fadeInUp" data-delay=".6" href="/en/Kurumsal" class="btn">Corporation</a>
                                    }
                                    else
                                    {
                                        <h4 data-animate="fadeInUp" data-delay=".05">Teknobant</h4>
                                        <h2 data-animate="fadeInUp" data-delay=".3">@(item.NameGe)</h2>
                                        <p style="color:white" data-animate="fadeInUp" data-delay=".05">@(item.DescriptionGe)</p>
                                        <a data-animate="fadeInUp" data-delay=".6" href="/de/Kurumsal" class="btn">Institutionell</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- Banner Pagination -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        @*<div class="swiper-pagination main-slider-pagination"></div>*@
    </div>
    <script>


        var mySwiper = new Swiper('.swiper-container', {
            navigation: {
                speed: 400,
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        var mySwiper = document.querySelector('.swiper-container').swiper

        // Now you can use all slider methods like
        mySwiper.slideNext();
    </script>
</section>

<section class="pt-120 pb-70 text-left">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq pb-50" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <div class="section-title">
                            <h2>Kurumsal</h2>
                            <p> 2017 Yılında Bursa'da kurulan Teknobant başta otomotiv olmak üzere endüstriyel üretim yapan tüm sektörlere hizmet vermektedir.</p>

                            <p>  Müşteri odaklı satış anlayışıyla daima müşterimizin yanındayız.Satışı sadece mal ve para değişimi olarak değil, satışın başlangıcından,müşterinin ürününe kattığı değere kadar uzun bir süreç olarak görüyoruz. Teknobant, müşteri odaklı satış anlayışıyla daima yanınızdayız ve uygulamalarınız için, en kısa zamanda en iyi ve en ekonomik çözümleri sunuyoruz.</p>
                            <p>
                                Teknobant sürekli değişen ve gelişen dünya teknolojisini takip edip uygularken, yurtiçi ve yurtdışı tanıtım,organizasyon fuarlarına katılarak ürünlerini sergilemektedir.
                            </p>
                        </div>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <div class="section-title">
                            <h2>Corporation</h2>
                            <p> Established in Bursa in 2017, Teknobant serves all sectors of industrial production, mainly automotive.</p>

                            <p>  With our customer-oriented sales approach, we always stand by our customers. Teknobant is always with you with its customer-oriented sales approach and we offer the best and most economical solutions for your applications as soon as possible.</p>
                            <p>
                                Teknobant constantly follows the changing and developing world technology, while domestic and international promotion, organization exhibitions are exhibited by participating in exhibitions.
                            </p>
                        </div>
                    }
                    else
                    {
                        <div class="section-title">
                            <h2>Institutionell</h2>
                            <p> Teknobant wurde 2017 in Bursa gegründet und bedient alle Sektoren der industriellen Produktion, vor allem die Automobilindustrie. </p>

                            <p> Mit unserem kundenorientierten Vertriebsansatz stehen wir immer zu unseren Kunden. Teknobant ist mit seinem kundenorientierten Vertriebsansatz immer bei Ihnen und wir bieten Ihnen so schnell wie möglich die besten und wirtschaftlichsten Lösungen für Ihre Anwendungen. </p>
                            <p>
                                Teknobant verfolgt ständig die sich wandelnde und sich entwickelnde Welttechnologie, während nationale und internationale Promotion- und Organisationsausstellungen durch Teilnahme an Ausstellungen gezeigt werden.
                            </p>
                        </div>
                    }


                </div>
            </div>

            <div class="col-lg-6">
                <div class="popup-video mb-50" data-animate="fadeInUp" data-delay=".4">
                    <img src="~/images/video.png" alt="">
                    <a href="https://www.youtube.com/watch?v=2FYH0rWbt-U" class="youtube-popup play-btn ripple">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="row align-items-center">
                @foreach (var item in Model.Contents)
                {
                    <div class="col-md-4">
                        <div class="single-about-us animated fadeInUp" data-animate="fadeInUp" data-delay=".1" style="animation-duration: 0.6s; animation-delay: 0.1s;">
                            @if (ViewBag.Dil == "tr")
                            {
                                <h3 class="h4">@(item.Name)</h3>
                                <p>@(item.ShortDescription)<a href="/tr/Kurumsal"> Devamı...</a></p>
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <h3 class="h4">@(item.NameEn)</h3>
                                <p>@(item.ShortDescriptionEn)<a href="/en/Kurumsal"> Read more...</a></p>
                            }
                            else
                            {
                                <h3 class="h4">@(item.NameGe)</h3>
                                <p>@(item.ShortDescriptionGe)<a href="/de/Kurumsal"> Weiterlesen...</a></p>
                            }

                        </div>
                    </div>
                }
               </div>
            </div>
        </div>
</section>
<section class="pt-120 pb-70 dark-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="section-title text-center" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2 style="color:white">Sektörler</h2>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2 style="color:white">Sectors</h2>
                    }
                    else
                    {
                        <h2 style="color:white">Branchen</h2>
                    }
                    @*<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>*@
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.Services)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="single-feature single-feature-img-left text-left" data-animate="fadeInUp" data-delay=".05">
                        <div class="single-feature-img">
                            <img src="~/images/logofigur.png" alt="" class="svg" width="50" />
                        </div>
                        <div class="single-feature-content">
                            @if (ViewBag.Dil == "tr")
                            {
                                <h4 style="color:white">@(item.Name)</h4>
                                <p>@(item.ShortDescription)</p>
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <h4 style="color:white">@(item.NameEn)</h4>
                                <p>@(item.ShortDescriptionEn)</p>
                            }
                            else
                            {
                                <h4 style="color:white">@(item.NameGe)</h4>
                                <p>@(item.ShortDescriptionGe)</p>
                            }

                        </div>
                    </div>
                </div>
            }


        </div>
    </div>
</section>