﻿@model GeneralWebUI.Model.ViewModel.ProductViewModel
@{
    //ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-title-wrap" style="background:url(/images/bant.jpg);background-repeat:no-repeat;background-size:cover">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="page-title" data-animate="fadeInUp" data-delay="1.2">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2>@(Model.Product.Name)</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/tr/Anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                            <li><a href="/tr/Ürünler">Ürünler</a></li>
                        </ul>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2>@(Model.Product.NameEn)</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/en/Anasayfa"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="/en/Ürünler">Products</a></li>
                        </ul>
                    }
                    else
                    {
                        <h2>@(Model.Product.NameGe)</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/de/Anasayfa"><i class="fa fa-home"></i> Zuhause</a></li>
                            <li><a href="/de/Ürünler">Produkte</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-120 pb-65">
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-3">
                @if (ViewBag.Dil == "tr")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">@(Model.Product.ProductCategory.Name.ToUpper())</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Products.Where(x => x.IsDeleted != true && x.ProductCategoryId == Model.Product.ProductCategoryId).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.Name)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else if (ViewBag.Dil == "en")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">@(Model.Product.ProductCategory.NameEn)</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Products.Where(x => x.IsDeleted != true && x.ProductCategoryId == Model.Product.ProductCategoryId).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.NameEn)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">@(Model.Product.ProductCategory.NameGe)</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Products.Where(x => x.IsDeleted != true && x.ProductCategoryId == Model.Product.ProductCategoryId).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.NameGe)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }

            </div>
            <div class="col-lg-9">
                <div class="product-details-wrap" data-animate="fadeInUp" data-delay=".1">
                    <div class="row">
                        <div class="col-md-7">
                            <!-- Product Images Slider -->
                            <div class="product-slider mb-60">
                                <div class="swiper-container product-gallery">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Model.Product.Images.OrderBy(x=> x.OrderNo))
                                        {
                                            <div class="swiper-slide">
                                                <img src="@(item.CloudUrl)" data-rjs="2" alt="@(item.Alt)">
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-pagination product-gallery-pagination"></div>
                                </div>
                                <div class="swiper-container product-thumbs">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Model.Product.Images.OrderBy(x => x.OrderNo))
                                        {
                                            <div class="swiper-slide">
                                                <img src="@(item.CloudUrl)" alt="@(item.Alt)">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- End of Product Images Slider -->
                        </div>
                        <div class="col-md-5">
                            <!-- Product info -->
                            <div class="product-descripton mb-60">
                                @if (ViewBag.Dil == "tr")
                                {
                                    <h1 class="h4"> @(Model.Product.Name.ToUpper())</h1>
                                    <div class="product-details">
                                        <p>@Model.Product.ShortDescription</p>
                                    </div>
                                }
                                else if (ViewBag.Dil == "en")
                                {
                                    <h1 class="h4"> @(Model.Product.NameEn.ToUpper())</h1>
                                    <div class="product-details">
                                        <p>@Model.Product.ShortDescriptionEn</p>
                                    </div>
                                }
                                else
                                {
                                    <h1 class="h4"> @(Model.Product.NameGe.ToUpper())</h1>
                                    <div class="product-details">
                                        <p>@Model.Product.ShortDescriptionGe</p>
                                    </div>
                                }

                            </div>
                            <!-- End of Product info -->
                        </div>
                    </div>
                </div>

                <div class="product-tabbed-content" style="text-align:justify" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h3 class="bordered-title">Açıklama</h3>
                        @Html.Raw(Model.Product.Description)
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h3 class="bordered-title">Description</h3>
                        @Html.Raw(Model.Product.DescriptionEn)
                    }
                    else
                    {
                        <h3 class="bordered-title">Beschreibung</h3>
                        @Html.Raw(Model.Product.DescriptionGe)
                    }
                </div>


                <!-- Related Products -->
                <div class="related-products" data-animate="fadeInUp" data-delay=".1">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h3 class="bordered-title">Diğer Ürünler</h3>
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-product mb-55">
                                        <a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            <span class="tip">@(item.ProductCategory.Name)</span>
                                            <img src="@(item.Images.First().CloudUrl)" data-rjs="2" alt="">
                                        </a>
                                        <h3 class="h5">
                                            <a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.Name)</a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h3 class="bordered-title">Other Products</h3>
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-product mb-55">
                                        <a href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            <span class="tip">@(item.ProductCategory.NameEn)</span>
                                            <img src="@(item.Images.First().CloudUrl)" data-rjs="2" alt="">
                                        </a>
                                        <h3 class="h5">
                                            <a href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.NameEn)</a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h3 class="bordered-title">Andere Produkte</h3>
                        <div class="row">
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="single-product mb-55">
                                        <a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            <span class="tip">@(item.ProductCategory.NameGe)</span>
                                            <img src="@(item.Images.First().CloudUrl)" data-rjs="2" alt="">
                                        </a>
                                        <h3 class="h5">
                                            <a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.NameGe)</a>
                                        </h3>
                                    </div>
                                </div>
                            }
                        </div>
                    }


                </div>
                <!-- End of Related Products -->
            </div>

            <!-- Sidebar -->
            <!-- End of Sidebar -->
        </div>
    </div>
</section>
