﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel

@{
    //ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-title-wrap" style="background:url(/images/bant.jpg);background-repeat:no-repeat;background-size:cover">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="page-title" data-animate="fadeInUp" data-delay="1.2">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2>Ürünler</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/tr/Anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                            <li><a href="#">Ürünler</a></li>
                        </ul>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2>Products</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/en/Anasayfa"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="#">Products</a></li>
                        </ul>
                    }
                    else
                    {
                        <h2>Produkte</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/de/Anasayfa"><i class="fa fa-home"></i> Zuhause</a></li>
                            <li><a href="#">Produkte</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-120 pb-65">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-last">
                <div class="blog">
                    <div class="row isotope">
                        <!-- Single Post -->
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-md-4 text-left">
                                <div class="single-news mb-55" data-animate="fadeInUp" data-delay=".1">


                                    @if (ViewBag.Dil == "tr")
                                    {
                                        <a class="tip" href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            @(item.ProductCategory.Name)
                                        </a>
                                    }
                                    else if (ViewBag.Dil == "en")
                                    {
                                        <a class="tip" href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.ProductCategory.NameEn)</a>
                                    }
                                    else
                                    {
                                        <a class="tip" href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">@(item.ProductCategory.NameGe)</a>
                                    }


                                    @if (ViewBag.Dil == "tr")
                                    {
                                        <a  href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            <img src="@(item.Images.OrderBy(x=> x.OrderNo).First().CloudUrl)"  alt="" style="border:1px solid #f0f0f0" />
                                        </a>
                                    }
                                    else if (ViewBag.Dil == "en")
                                    {
                                        <a  href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)"><img src="@(item.Images.OrderBy(x=> x.OrderNo).First().CloudUrl)"  alt=""></a>
                                    }
                                    else
                                    {
                                        <a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                            <img src="@(item.Images.OrderBy(x=> x.OrderNo).First().CloudUrl)"  alt="">
                                        </a>
                                    }
                                 
                                    <ul class="list-unstyled d-flex align-items-center">
                                        <li><img src="~/images/logofigur.png" alt=""></li>
                                        <li>Teknobant</li>
                                        @if (ViewBag.Dil == "tr")
                                        {
                                            <li><a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">Detay</a></li>
                                        }
                                        else if (ViewBag.Dil == "en")
                                        {
                                            <li><a href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">Detail</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">Detail</a></li>
                                        }
                                    </ul>
                                    <h3 class="h6">
                                        @if (ViewBag.Dil == "tr")
                                        {
                                            <a href="/tr/urun/@(item.Name.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)">
                                                @(item.Name)
                                            </a>
                                        }
                                        else if (ViewBag.Dil == "en")
                                        {
                                            <a href="/en/urun/@(item.NameEn.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)"> @(item.NameEn) </a>
                                        }
                                        else
                                        {
                                            <a href="/de/urun/@(item.NameGe.Replace(" ","").Replace("/", "").Replace(".", "").Replace("\\", ""))/@(item.Id)"> @(item.NameGe) </a>
                                        }

                                    </h3>
                                </div>
                            </div>
                        }
                    </div>
                    @*<ul class="pagination blog-pagination align-items-center justify-content-center mb-55" data-animate="fadeInUp" data-delay=".1">
                            <li><a href="#"><img src="img/icons/left-arrow.svg" alt="" class="svg"></a></li>
                            <li class="active"><a href="#">01</a></li>
                            <li><a href="#">02</a></li>
                            <li><a href="#">03</a></li>
                            <li><a href="#">04</a></li>
                            <li><a href="#">05</a></li>
                            <li><a href="#"><img src="img/icons/right-arrow.svg" alt="" class="svg"></a></li>
                        </ul>*@
                </div>
            </div>

            <!-- Sidebar -->
            <div class="col-lg-3 text-left">
                <aside>
                    <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                        @if (ViewBag.Dil == "tr")
                        {
                            <h3 class="bordered-title">Kategoriler</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.ProductCategories.Where(x=> x.Products.Where(y => y.IsDeleted != true).Count()>0))
                                    {
                                        <li><a href="/tr/Ürünler/@(item.Id)">@(item.Name)</a> (@(item.Products.Where(x=> x.IsDeleted!=true).Count()))</li>
                                    }
                                </ul>
                            </div>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <h3 class="bordered-title">Categories</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.ProductCategories.Where(x => x.Products.Where(y => y.IsDeleted != true).Count() > 0))
                                    {
                                        <li><a href="/en/Ürünler/@(item.Id)">@(item.NameEn)</a> (@(item.Products.Where(x => x.IsDeleted != true).Count()))</li>
                                    }
                                </ul>
                            </div>
                        }
                        else
                        {
                            <h3 class="bordered-title">Kategorien</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.ProductCategories.Where(x => x.Products.Where(y => y.IsDeleted != true).Count() > 0))
                                    {
                                        <li><a href="/de/Ürünler/@(item.Id)">@(item.NameGe)</a> (@(item.Products.Where(x => x.IsDeleted != true).Count()))</li>
                                    }
                                </ul>
                            </div>
                        }

                    </div>
                    
                </aside>
            </div>
            <!-- End of Sidebar -->
        </div>
    </div>
</section>