﻿@model GeneralWebUI.Model.ViewModel.GeneralViewModel
@{
    //ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="page-title-wrap" style="background:url(/images/bant.jpg);background-repeat:no-repeat;background-size:cover">
    <div class="container text-left">
        <div class="row">
            <div class="col">
                <div class="page-title" data-animate="fadeInUp" data-delay="1.2">
                    @if (ViewBag.Dil == "tr")
                    {
                        <h2>Sektörler</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/tr/Anasayfa"><i class="fa fa-home"></i> Anasayfa</a></li>
                            <li><a href="/tr/Sektör">Sektörler</a></li>
                        </ul>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <h2>Sectors</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/en/Anasayfa"><i class="fa fa-home"></i> Home</a></li>
                            <li><a href="/en/Sektör">Sectors</a></li>
                        </ul>
                    }
                    else
                    {
                        <h2>Branchen</h2>
                        <ul class="list-unstyled m-0 d-flex">
                            <li><a href="/de/Anasayfa"><i class="fa fa-home"></i> Zuhause</a></li>
                            <li><a href="/de/Sektör">Branchen</a></li>
                        </ul>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-120 pb-65">
    <div class="container text-left">
        <div class="row">
            <div class="col-lg-3">
                @if (ViewBag.Dil == "tr")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">SEKTÖRLER</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/tr/Sektörler/@(item.Id)">@(item.Name)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else if (ViewBag.Dil == "en")
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">SECTORS</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/en/Sektörler/@(item.Id)">@(item.NameEn)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }
                else
                {
                    <aside>
                        <div class="sidebar-widget mb-55" data-animate="fadeInUp" data-delay=".1">
                            <h3 class="bordered-title">SEKTÖRLER</h3>
                            <div class="list-widget">
                                <ul class="list-unstyled m-0 p-0">
                                    @foreach (var item in Model.Services.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                    {
                                        <li><a href="/de/Sektörler/@(item.Id)">@(item.NameGe)</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </aside>
                }

            </div>
            <div class="col-lg-9">
                <div class="product-details-wrap" data-animate="fadeInUp" data-delay=".1">
                    <h1 class="h4">@Model.Service.Name.ToUpper()</h1>
                    @Html.Raw(Model.Service.Description)
                </div>
            </div>

            <!-- Sidebar -->
            <!-- End of Sidebar -->
        </div>
    </div>
</section>
