﻿@model GeneralWebUI.Model.ViewModel.MenuViewModel
@*@string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))*@
<header>
    <div class="container">
        <div class="row">
            <div class="span2">
                <div id="logo">
                    @if (ViewBag.Dil == "tr")
                    {
                        <a href="/tr/Anasayfa">
                            <img src="~/images/logo.png" alt="Teknobant">
                        </a>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <a href="/en/Anasayfa">
                            <img src="~/images/logo.png" alt="Teknobant">
                        </a>
                    }
                    else
                    {
                        <a href="/de/Anasayfa">
                            <img src="~/images/logo.png" alt="Teknobant">
                        </a>
                    }
                </div>
            </div>
            <div class="span7">
                <nav>
                    <ul id="navigation" class="pull-right hidden-phone"   style="text-align:center">
                        @foreach (var item in Model.Menus)
                        {
                            <li class="@(item.Id == 17?"submenu":"")">

                                @if (ViewBag.Dil == "tr")
                                {
                                    <a class="@(ViewBag.Id==item.Id?"active":"")" href="@(item.Link)">
                                        @(item.Name)
                                        @if (item.Id == 17)
                                        {<i class="fa fa-caret-down"></i>}
                                    </a>

                                }
                                else if (ViewBag.Dil == "en")
                                { <a class="@(ViewBag.Id==item.Id?"active":"")" href="@(item.LinkEn)">
                                        @(item.NameEn)
                                        @if (item.Id == 17)
                                        {<i class="fa fa-caret-down"></i>}
                                    </a>
                                }
                                else
                                {
                                    <a class="@(ViewBag.Id==item.Id?"active":"")" href="@(item.LinkGe)">
                                        @(item.NameGe)
                                        @if (item.Id == 17)
                                        {<i class="fa fa-caret-down"></i>}
                                    </a>
                                }

                                @if (item.Id == 17)
                                {
                                    <ul class="dropmenu-active">
                                        @foreach (var p in Model.Products)
                                        {
                                            <li>
                                                @if (ViewBag.Dil == "tr")
                                                {
                                                    <a href="@("/tr/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                        @(p.Name)
                                                    </a>
                                                }
                                                else if (ViewBag.Dil == "en")
                                                {
                                                    <a href="@("/en/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                        @(p.NameEn)
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@("/de/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                        @(p.NameGe)
                                                    </a>
                                                }
                                            </li>
                                        }
                                    </ul>
                                }

                            </li>
                        }
                        @if (ViewBag.Dil == "tr")
                        {
                            <li class="last submenu">
                                <a href="#"><i class="icon icon-flag"></i> TR</a>
                                <ul class="dropmenu-active">
                                    <li>
                                        <a href="@( "/en"+ViewBag.Page)"><i class="icon icon-flag"></i> EN</a>
                                    </li>
                                    <li>
                                        <a href="@("/de"+ViewBag.Page )"><i class="icon icon-flag"></i> DE</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <li class="last submenu">
                                <a href="#"><i class="icon icon-flag"></i> EN</a>
                                <ul class="dropmenu-active">
                                    <li>
                                        <a class="dropdown-item" href="@( "/tr"+ViewBag.Page)"><i class="icon icon-flag"></i> TR</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@("/de"+ViewBag.Page )"><i class="icon icon-flag"></i> DE</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="last submenu">
                                <a href="#"><i class="icon icon-flag"></i> DE</a>
                                <ul class="dropmenu-active">
                                    <li>
                                        <a class="dropdown-item" href="@( "/en"+ViewBag.Page)"><i class="icon icon-flag"></i> EN</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@("/tr"+ViewBag.Page )"><i class="icon icon-flag"></i> TR</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </ul>
                </nav>
                <!-- End Navigation -->
            </div>
            <div class="span1"></div>
            <div class="span2">
                <div id="logo">
                    @if (ViewBag.Dil == "tr")
                    {
                        <a href="/tr/Anasayfa">
                            <img src="~/images/logo2.png" alt="Teknobant">
                        </a>
                    }
                    else if (ViewBag.Dil == "en")
                    {
                        <a href="/en/Anasayfa">
                            <img src="~/images/logo2.png" alt="Teknobant">
                        </a>
                    }
                    else
                    {
                        <a href="/de/Anasayfa">
                            <img src="~/images/logo2.png" alt="Teknobant">
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</header>

