﻿@model GeneralWebUI.Model.ViewModel.MenuViewModel
<header class="header">
    <div class="header-top" data-animate="fadeInDown" data-delay=".5">
        <div class="container">
            <div class="row align-items-center" style="min-height:40px">
                <div class="col-lg-6 col-9">
                    <div class="header-info text-center text-md-left">
                        <a href="tel:@Model.Contacts.First().Phone" style="text-decoration:none;color:#474747">
                            <i class="fa fa-phone"></i> @string.Format("{0:+# (###)-###-####}", Convert.ToDouble(Model.Contacts.First().Phone))
                        </a>
                        <a href="mailto:@Model.Contacts.First().Email" style="text-decoration:none;color:#474747">
                            <i class="fa fa-envelope"></i> @Model.Contacts.First().Email
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-3">
                    <div class="header-top-right d-flex align-items-center justify-content-center justify-content-md-end">
                        <div class="client-area position-relative">
                            @if (ViewBag.Dil == "tr")
                            {
                                <span id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#474747">
                                    <i class="fa fa-globe" style="font-size:15px;"></i> TR
                                </span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@( "/en"+ViewBag.Page)"><i class="fa fa-flag"></i> EN</a>
                                    <a class="dropdown-item" href="@("/de"+ViewBag.Page )"><i class="fa fa-flag"></i> DE</a>
                                </div>
                            }
                            else if (ViewBag.Dil == "en")
                            {
                                <span id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#474747"><i class="fa fa-globe" style="font-size:15px"></i> EN</span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@("/tr"+ViewBag.Page )"><i class="fa fa-flag"></i> TR</a>
                                    <a class="dropdown-item" href="@("/de"+ViewBag.Page )"><i class="fa fa-flag"></i> DE</a>
                                </div>
                            }
                            else
                            {
                                <span id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#474747"><i class="fa fa-globe" style="font-size:15px"></i> DE</span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="@( "/tr"+ViewBag.Page)"><i class="fa fa-flag"></i> TR</a>
                                    <a class="dropdown-item" href="@("/en"+ViewBag.Page )"><i class="fa fa-flag"></i> EN</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-header" data-animate="fadeInUp" data-delay=".9">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-9">
                    <!-- Logo -->
                    <div class="logo">
                        @if (ViewBag.Dil == "tr")
                        {
                            <a href="/tr/Anasayfa">
                                <img src="~/WebContent/img/logo.png" alt="Teknobant">
                            </a>
                        }
                        else if (ViewBag.Dil == "en")
                        {
                            <a href="/en/Anasayfa">
                                <img src="~/WebContent/img/logo.png" alt="Teknobant">
                            </a>
                        }
                        else
                        {
                            <a href="/de/Anasayfa">
                                <img src="~/WebContent/img/logo.png" alt="Teknobant">
                            </a>
                        }

                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-2 col-3">
                    <nav>
                        <div class="header-menu">
                            <ul>
                                @foreach (var item in Model.Menus)
                                {
                                    <li>

                                        @if (ViewBag.Dil == "tr")
                                        {
                                            <a href="@(item.Link)">
                                                @(item.Name)
                                                @if (item.Id == 17)
                                                {<i class="fa fa-caret-down"></i>}
                                            </a>

                                        }
                                        else if (ViewBag.Dil == "en")
                                        { <a href="@(item.LinkEn)">
                                                @(item.NameEn)
                                                @if (item.Id == 17)
                                                {<i class="fa fa-caret-down"></i>}
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@(item.LinkGe)">
                                                @(item.NameGe)
                                                @if (item.Id == 17)
                                                {<i class="fa fa-caret-down"></i>}
                                            </a>
                                        }


                                        @if (item.Id == 17)
                                        {
                                            <ul>
                                                @foreach (var pc in Model.ProductCategories)
                                                {
                                                    <li>


                                                        @if (pc.Products.Where(x => x.IsDeleted != true).Count() > 0)
                                                        {
                                                            @if (ViewBag.Dil == "tr")
                                                            {
                                                                <a href="/tr/Ürünler/@(pc.Id)">
                                                                    @(pc.Name) <i class="fa fa-caret-right"></i>
                                                                </a>

                                                            }
                                                            else if (ViewBag.Dil == "en")
                                                            {
                                                                <a href="/en/Ürünler/@(pc.Id)">
                                                                    @(pc.NameEn) <i class="fa fa-caret-right"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a href="/de/Ürünler/@(pc.Id)">
                                                                    @(pc.NameGe) <i class="fa fa-caret-right"></i>
                                                                </a>
                                                            }

                                                            <ul>
                                                                @foreach (var p in pc.Products.Where(x => x.IsDeleted != true).OrderBy(x => x.OrderNo))
                                                                {
                                                                    <li>

                                                                        @if (ViewBag.Dil == "tr")
                                                                        {
                                                                            <a href="@("/tr/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                                                @(p.Name)
                                                                            </a>
                                                                        }
                                                                        else if (ViewBag.Dil == "en")
                                                                        {
                                                                            <a href="@("/en/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                                                @(p.NameEn)
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a href="@("/de/urun/"+p.Name.Replace(" ","").Replace("/","").Replace(".","")+"/"+p.Id)">
                                                                                @(p.NameGe)
                                                                            </a>
                                                                        }

                                                                    </li>
                                                                }
                                                            </ul>
                                                        }

                                                    </li>
                                                }
                                            </ul>
                                        }

                                    </li>
                                }

                            </ul>
                        </div>
                        <!-- End of Header-menu -->
                    </nav>
                </div>
                <!-- <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 d-none d-sm-block">

                    <div class="header-call text-right">
                        <span>Call Now</span>
                        <a href="tel:+1234567890">(+1) 234-567-8900</a>
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</header>

