﻿<!DOCTYPE html>

<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133835049-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-133835049-1');
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="@ViewBag.Author" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <title>@ViewBag.Title</title>

    <link rel="shortcut icon" href="~/WebContent/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/WebContent/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/WebContent/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebContent/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/WebContent/plugins/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/WebContent/plugins/magnific-popup/magnific-popup.min.css" />
    <link rel="stylesheet" href="~/WebContent/css/style.css" />
    <link rel="stylesheet" href="~/WebContent/css/responsive.css" />
    <link rel="stylesheet" href="~/WebContent/css/colors/theme-color-1.css" />
    <link rel="stylesheet" href="~/WebContent/css/custom.css" />

</head>
<body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,500,700%7CSource+Sans+Pro:300i,400,400i,600,700" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="~/WebContent/js/bootstrap.bundle.min.js"></script>
    <script src="~/WebContent/plugins/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/WebContent/plugins/waypoints/sticky.min.js"></script>
    <script src="~/WebContent/plugins/swiper/swiper.min.js"></script>
    <div class="preLoader"></div>

    @await Component.InvokeAsync("MenuTopbar")

    @RenderBody()
    @await Component.InvokeAsync("Footer")


    <div class="back-to-top">
        <a href="#"> <i class="fa fa-chevron-up"></i></a>
    </div>

    <script src="~/WebContent/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/WebContent/plugins/parsley/parsley.min.js"></script>
    <script src="~/WebContent/plugins/retinajs/retina.min.js"></script>
    <script src="~/WebContent/plugins/isotope/isotope.pkgd.min.js"></script>
    <script src="~/WebContent/js/menu.min.js"></script>
    <script src="~/WebContent/js/scripts.js"></script>
    <script src="~/WebContent/js/custom.js"></script>
</body>
</html>
